body {
  background-color: #dae0e6;
}

.search__input {
  outline: none;
  border: none;
  width: 100%;
  padding: 8px;
  font-size: 1.25rem;
  border-radius: 5px;
  opacity: 0.5;
}

.github__info {
  background-color: #fff;
}
.user__info {
  background-color: #fff;
}
